body, h1 {
    font-family: Georgia;

}

.main {
    margin: 0 auto;
    max-width: 1000px;
    box-shadow: 5px 10px 8px 10px #888888;

}

.chapter {
    height: 500px;
    padding: 2%;
}



.aboutme a {
    color: white;
}

.aboutme {
    height: 600px;
    text-align: center;
    background-image: url(assets/bg-wheat.png);
    background-repeat: repeat;
    height: 100%;
    display: flex;
    padding: 1%;

}

.intro {
    }
    
.ipw1 {
    flex: 0 0 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ip {
background-color: white;
height: 100px;
width: 300px;
margin: 2%;
border-radius: 20px;
}

.ip2{
    align-self: flex-end;
}

.ipw2 {
    flex: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 500%;
    margin-left: 10%;
}


.vanillajs {
background-image: url(assets/bg-halftone-yellow.png);
background-repeat: repeat;
margin: 0;
padding: 2%;
overflow: hidden;
height: 100%;
}

.vanillajs h1 {
margin-bottom: 0%;

}

.jsexamples{
display: flex;
flex-flow: row wrap;
overflow: hidden;
padding: 1%;

}

.jsex {
background-color: white;
height: 200px;
width: 200px;
margin: 2%;
border-radius: 20px;


}

.react {
height: 500px;
background-image: url(assets/bg-morocco-blue.png);
background-repeat: repeat;
}


.django {
height: 600px;
background-image: url(assets/bg-green.png);
background-repeat: repeat;
}

.golang {
height: 500px;
background-image: url(assets/bg-django.png);
background-repeat: repeat;
}

.aws {
height: 600px;
background-image: url(assets/food.png);
background-repeat: repeat;
text-align: center;
}

