
.aboutme {
    max-width: 60%;
    margin: auto;
    text-justify: distribute;
}


html {
    scroll-behavior: smooth;
  }
    

.aboutme a {
    color: white;
}

.aboutme a:visited {
    color: white;
}


.aboutme a:hover {
    color: hotpink;
}


.modal-title {
    padding: 2% 0;
}

.modal-title h2 {
    margin-left: 2%;
    color: white;
}

.modal-content {
    margin: 2%;
    color: black;
    padding: 2%;
    max-width: 100%;
}
.modal-content li {
    margin-left: 4%;
    list-style-type: circle;
}

.modal-buttons {
    text-align: center;
    margin: 2% 0 ;
}

.modal-buttons a {
    margin-right: 2%;
}

.modal-footer {
    height: 37px;
}

.columns {
    text-align: center;
    padding: 0 2%;
}


input {
 max-width: 100%;   
}

.portfolio h1 {
    font-size: 200%;
    margin-left: 2%;
    text-align: left;
}

.intro-icon {
    color: white;
    font-size: 313%;
}

.intro-icon:hover {
    color: lightskyblue;

}
