
#app {
}


.modal-title {
    padding: 2% 0;
}

.modal-title h2 {
    margin-left: 2%;
    color: white;
}

.modal-content {
    margin: 2%;
    color: black;
    padding: 2%;
    max-width: 100%;
    overflow: ;
}
.modal-content li {
    margin-left: 4%;
    list-style-type: circle;
}

.modal-buttons {
    text-align: center;
    margin: 2% 0 ;
}

.modal-buttons a {
    margin-right: 2%;
}

.modal-footer {
    height: 37px;
}

.columns {
    text-align: center;
    padding: 0 2%;
}


input {
 max-width: 100%;   
}

.portfolio h1 {
    font-size: 200%;
    margin-left: 2%;
    text-align: left;
}